<div class="col-sm-12 col-12 col-md-12 col-lg-12 col-xl-11 rounded responsive "
    style="background-color: rgba(201, 209, 211, 0.57);">

    <div class=" rounded mx-lg-4 mx-md-4">

        <div class="row d-flex justify-content-center rounded mb-5" style="padding-bottom: 100px;;">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row p-2">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 col-xl-12 my-2">
                        <div class="card text-dark bg-primary">
                            <div class="card card-test ">
                                <div class="card-header">
                                    <div class="row  mx-1 d-flex justify-content-between">
                                        <h4>Bài thi {{subject.Name}}</h4>
                                        <button ng-show="(index+1)==20" ng-click="finish()" class="btn btn-primary "
                                            style="right: 20px;">Finish</button>
                                    </div>
                                    <div class="row mx-1 d-flex justify-content-between">
                                        <p>Thời gian làm bài {{(timer-timer%60)/60}}:{{timer%60}}</p>
                                        <p>{{index+1}}/20</p>
                                    </div>
                                    <p class="mx-1">Điểm {{marks}} </p>
                                </div>

                                <div class="card-body">
                                    <h6 class="card-subtitle my-2">{{ index+1+'. '+ question[index].Text}}</h6>
                                    <form name="formTest" action="">
                                        <div class="form-check" ng-repeat="qs in question[index].Answers">
                                            <label style="padding-left: 5px; margin-bottom: 10px;"
                                                class="form-check-label row mx-1" for="Radios1">
                                                <input class="form-check-input" id="{{'qs'+$index}}" type="radio"
                                                    name="answer" value="{{qs.Id}}" required>
                                                <label style="cursor: pointer;" for="{{'qs'+$index}}"
                                                    class="col-lg-11 col-md-11 col-sm-11 col-11 col-xl-11">{{qs.Text}}</label>
                                            </label>
                                        </div>
                                    </form>

                                </div>
                                <div class="card-footer text-muted">
                                    <button ng-hide="(index+1)==20" ng-click="mark()" class="btn btn-primary " style="right: 20px;">Submit</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row d-flex justify-content-center align-items-center ">
                    <button ng-click="prev()" class="btn btn-primary position-relative {{(index+1 == 1)?'disabled':''}}"
                        style="right: 20px;"><i class="fas fa-chevron-circle-left"></i></button>
                    <button ng-click="next()"
                        class="btn btn-primary position-relative {{(index+1 == question.length)?'disabled':''}}"><i
                            class="fas fa-chevron-circle-right"></i></button>
                </div>
            </div>


        </div>

    </div>
</div>