<div class="col-sm-12 col-12 col-md-12 col-lg-12 col-xl-11 rounded mx-auto">
    <div
        class="row d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 rounded mx-lg-2 mx-md-2">

        <div class="col-sm-11 col-11 col-md-10 col-lg-9 col-xl-9">
            <div class="row d-flex justify-content-center text-dark">
                <div class="card text-left" style="width: 500px;">
                    <img class="card-img-top rounded shadow " height="150px" src="../img/H4tz.gif" alt="">
                    <h2 class="position-absolute text-white text-center font-weight-bold text-login " style="top: 8%;">
                       Cập nhật 
                    </h2>
                    <div class="card-body">
                        <form name="formUpdate" class="bg-light">

                            <div class="form-group">
                                <label for="username">Username</label>
                                <input name="txtUser" ng-model="student.username" type="text" class="form-control" required maxlength="30" minlength="4" id="username" aria-describedby="emailHelp">
                                <small id="username" ng-show="formUpdate.txtUser.$error.required"  class="form-text text-danger">Vui lòng tên tài khoản</small>
                                <small id="username" ng-show="formUpdate.txtUser.$error.maxlength"  class="form-text text-danger">Vui lòng không nhập quá 30 kí tự</small>
                                <small id="username" ng-show="formUpdate.txtUser.$error.minlength"  class="form-text text-danger">Tên tài khoản phải lớn hơn 4 kí tự</small>
                            </div>

                            <div class="form-group">
                                <label for="fullname">Fullname</label>
                                <input name="txtFullname" ng-model="student.fullname" type="text" class="form-control" required maxlength="60" minlength="4" id="fullname" aria-describedby="emailHelp">
                                <small id="fullname" ng-show="formUpdate.txtFullname.$error.required"  class="form-text text-danger">Vui lòng nhập full name tài khoản</small>
                                <small id="fullname" ng-show="formUpdate.txtFullname.$error.maxlength"  class="form-text text-danger">Vui lòng không nhập quá 60 kí tự</small>
                                <small id="fullname" ng-show="formUpdate.txtFullname.$error.minlength"  class="form-text text-muted">Tên tài khoản phải lớn hơn 4 kí tự</small>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input name="txtEmail" ng-model="student.email" type="email" class="form-control" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" maxlength="30" minlength="4" id="email" aria-describedby="emailHelp">
                                <small id="email" ng-show="formUpdate.txtEmail.$error.required"  class="form-text text-danger">Vui lòng email</small>
                                <small id="email" ng-show="formUpdate.txtEmail.$error.maxlength"  class="form-text text-danger">Vui lòng không nhập quá 30 kí tự</small>
                                <small id="email" ng-show="formUpdate.txtEmail.$error.minlength"  class="form-text text-danger">Vui lòng không nhập ít hơn 4 kí tự</small>
                                <small id="email" ng-show="formUpdate.txtEmail.$error.pattern"  class="form-text text-danger">Email không đúng định dạng</small>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="gt">Giới tính</label>

                                </div>
                                <div class="form-check form-check-inline">
                                    <input ng-model="student.gender" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                        value="Nam">
                                    <label class="form-check-label" for="inlineRadio1">Nam</label>
                                </div>
                                <div class="form-check form-check-inline">
                                   
                                    <input ng-model="student.gender" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                        value="Nữ">
                                    <label class="form-check-label" for="inlineRadio2">Nữ</label>
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <label for="ngay">Ngày sinh (dd/MM/yyyy)</label>
                                <input name="birthday" ng-model="student.birthday" type="text" id="birthday" class="form-control border-indigo" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" required>
                                <small ng-show="formUpdate.birthday.$error.required" class="form-text text-danger">Vui lòng nhập ngày sinh</small>
                                <small ng-show="formUpdate.birthday.$error.pattern" class="form-text text-danger">Không đúng định dạng ngày sinh</small>
                            </div>  

                            <div class="form-group">
                                <button ng-click="update()" type="submit" class="btn btn-primary ">Submit</button>
                                <button type="submit" class="btn btn-primary ">Hủy</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>